<table class="table">
		<tr>
		<th>Relationship</th>
		<th>Description</th>
		<th>Importance</th>
		<th>Manage Members</th>
		</tr>
			<% @relationships.each do |r|%>
				<tr>
				<td><%=link_to r[:name], edit_relationship_purpose_path(r) %></td>
				<td><%=r[:description]%></td>
				<td><%=r[:priority]%></td>
				<td><%=link_to 'Manage Members', (r) %></td>
				</tr>	
			<%end%>
</table>