<table class="table">
		<tr>
		<th>Relationship</th>
		<th>Importance</th>
		<th></th>
		<th></th>
		</tr>
			<% @relationships.each do |r|%>
				<tr>
				<td><%=r[:name]%></td>
				<td><%=r[:priority]%></td>
				<td><%=link_to 'Edit Relationship', edit_relationship_purpose_path(r) %></td>
				<td><%=link_to 'Members', (r) %></td>
				</tr>	
			<%end%>
</table>