<h1>Relationships</h1>
<p>The next step is to add some relationships.</p>

<p>Here's a list of your relationships:</p>

<%= render 'list' %>

<div class="btn">
	<%= link_to('New', new_relationship_purpose_path)  %>
</class> 